<h1>Create your Burger!</h1>
<h2>Uneaten Burgers</h2>
<ul>
    {{#each burgers}} {{#unless this.devoured}}
    <li>
        {{this.burger_name}}
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="1">
            <button type="submit">Eat ME!</button>
        </form>
    </li>
    {{/unless}} {{/each}}
</ul>
<h2>Burgers that are devoured!</h2>
<ul>
    {{#each burgers}} {{#if this.devoured}}
    <li>
        {{this.burger_name}}
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="0">
        </form>
    </li>
    {{/if}} {{/each}}
</ul>
<h2>Add a burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">
    <div class="form-group">
        <label for="burgers">Burger Name:</label>
        <input type="text" id="burgers" name="burger_name">
    </div>
    <button type="submit">Add burger</button>
</form>